<div class="site-banner">
    <div class="banner-wrapper">
        <div class="banner-phase">
            <h1 class="site-title">Olimpiada Peruana de Informática 2024</h1>
            <h2 class="site-subtitle">
                SEGUNDA FASE
            </h2>
            <p>
                18 de Febrero 2024<br>
            </p>
        </div>
        <div class="banner-base">
            <h3>Participantes de la Segunda Fase</h3>
            <small>
                Conoce a los participantes de la Segunda Fase de Olimpiada Peruana de Informática en el siguiente
                <a href="https://docs.google.com/spreadsheets/d/1vmJwNgQqlHopZu1_-L5asRV0IUHjAgPqgLNaLekj_gE/edit?usp=sharing" target="_blank">
                    enlace
                </a>
                🚀
            </small>
        </div>
    </div>
    <div class="banner-picture">
        <img src="/assets/images/OPI-2023.jpg" width="400" alt="OPI image">
        <img src="/assets/images/IOI-2022.jpg" width="320" alt="IOI image">
        <img src="/assets/images/IOI-3-2022.jpg" width="320" alt="IOI-3 image">
        <img src="/assets/images/IOI-2-2022.jpg" width="400" alt="IOI-2 image">
    </div>
</div>
