<div class="site-description">
    <div class="site-stats">
        <div class="site-stats-description">
            {% assign current_year =  'now' | date: "%Y" %}
            Venimos trabajando por más de {{ current_year | minus: site.start_year }} años
        </div>
        <div class="site-stats-stats">
                <div class="stats-item stats-members">
                    <div class="stats-number">
                        {{ site.data.members.size }}
                    </div>
                    <div class="stats-name">
                        Members
                    </div>
                </div>
            {%- for stats_item in site.data.stats -%}
                <div class="stats-item stats-{{ stats_item.id }}">
                    <div class="stats-number">
                        {{ stats_item.number }}
                    </div>
                    <p class="stats-name">
                        {{ stats_item.name }}
                    </p>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
