<div>
    <div class="egoi-wrapper">
        <div class="egoi-description">
            <p class="egoi-title">
                The European Girls’ Olympiad in Informatics (EGOI)
            </p>
            <p style="margin-bottom: 0px;">
                The European Girls’ Olympiad in Informatics (EGOI) es una competencia internacional para
                <strong>
                    mujeres jóvenes
                </strong>
                interesadas en la informática. Tiene un estilo similar a la Olimpiada Internacional de Informática (OII) y la organiza anualmente un país diferente cada año. La competencia se lleva a cabo entre
                <strong>
                    21 y 27 de julio
                </strong>
            </p>
        </div>
        <div class="egoi-content">
            <div class="egoi-image">
                <img src="/assets/images/egoi.png" alt="EGOI image">
                <p class="egoi-text-image">
                    The European Girls’ Olympiad in Informatics
                </p>
            </div>
        </div>
    </div>
</div>
