<div class="ioi-egoi-wrapper">
    <div class="tag">
        ¡Nueva noticia!
    </div>
    <p class="title">
        Proceso Selectivo Conjunto
        <span style="color: red; font-weight: 600;">
            IOI - EGOI
        </span>
        2024
    </p>
    <p style="font-size: 18px;">
        La Federación Olímpica Peruana de Informática se complace en anunciar el inicio del proceso selectivo para la
        <span style="font-weight: 600; font-size: 19px;">
            IOI (International Olympiad in Informatics)
        </span>
        y la
        <span style="font-weight: 600; font-size: 19px;">
            EGOI (European Girls’ Olympiad in Informatics)
        </span>
        del año 2024.
    </p>
    <div style="margin: 25px 0">
        <p>
            Buscamos participantes para representar al Perú en estas competencias internacionales con las siguientes características:
        </p>
        <ul>
            <li>
                <p style="color: #0056AC; font-weight: 400">
                    Estudiantes apasionados que deseen destacar en un escenario internacional.
                </p>
            </li>
            <li>
                <p style="color: #0056AC; font-weight: 400">
                    Representantes excepcionales para la IOI y la EGOI, que mostrarán su destreza en el ámbito de la programación.
                </p>
            </li>
        </ul>
    </div>
    <p style="font-weight: 500; font-size: 22px;">
        ¿Cómo saber si eres elegible?
    </p>
    <ul>
        <li>
            <p style="color: #0056AC; font-weight: 400">
                Si tienes menos de 20 años y estuviste matriculado en una institución educativa secundaria durante la mayor parte del periodo del 1 de septiembre al 1 de diciembre del 2023, y la institución educativa es de Perú.
            </p>
        </li>
        <li>
            <p style="color: #0056AC; font-weight: 400">
                Las chicas que cumplan con los mismos requisitos son elegibles para la EGOI.
            </p>
        </li>
    </ul>
    <p>
        Si cumples con estos requisitos, te invitamos a participar en el proceso selectivo para la IOI y la EGOI 2024.
    </p>
    <p style="font-size: 20px; font-weight: 500; margin-bottom: 0;">
        Conoce las bases en el siguiente
        <a href="https://docs.google.com/document/d/1MBUKYOg2074EAoxNRDY3FOOlcHAxF8teVseerG31J0o/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
            enlace
        </a>
    </p>
</div>
