<div class="site-newsletter">
    <div class="news-wrapper">
        <p class="news-title">
            Suscribete a nuestro boletín de noticias.
        </p>
        <p class="news-subtitle">
            Conoce las últimas noticias de la Olimpiada Informática Internacional.
        </p>
        <p class="news-text">
            Ingresa al siguiente
            <a href="https://forms.gle/Gj5wcERpwWNY4geA8" target="_blank" class="news-link">
                enlace
            </a>
            y completa el formulario.
        </p>
    </div>
    <div class="news-picture">
        <img src="/assets/images/mailbox.png" alt="Mailbox">
    </div>
</div>