<div>
    <div class="oii-wrapper">
        <div class="oii-content">
            <div class="oii-image">
                <img src="/assets/images/oii-banner.png" alt="OII image">
            </div>
        </div>
        <div class="oii-description">
            <p class="oii-title">
                Olimpíada Iberoamericana de Informática (OII)
            </p>
            <p>
                Para
                <strong>
                    jóvenes estudiantes
                </strong>
                matriculados en un colegio secundario de países de Iberoamérica, la OII es una competencia de programación anual. Los estudiantes compiten individualmente y pueden participar hasta quince estudiantes de cada país.
            </p>
            <p style="margin-bottom: 0px;">
                La competencia tiene una sola ronda, que tiene lugar entre
                <strong>
                    junio y julio
                </strong>
                de cada año y se lleva a cabo en línea. Por lo general, a los estudiantes se les dan cuatro problemas algorítmicos que deben resolver en
                <strong>
                    cinco horas.
                </strong>
            </p>
        </div>
    </div>
    <div class="oii-calendar">
        <div>
            <img src="/assets/images/calendar.png" alt="OII image">
        </div>
        <div style="margin: auto 0;">
            <div>
                <p style="color: #f03737; font-size: 20px; font-weight: 400; margin-bottom: 0px">
                    ¡No te pierdas ninguna fecha importante!
                </p>
                <p>
                    Visita nuestro calendario de eventos para conocer más detalles sobre la OII y otras competencias de programación.
                </p>
            </div>
            <a href="/calendar">
                Ir al calendario
                <svg width="24" height="18" xmlns="http://www.w3.org/2000/svg" fill="#0056AC" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>`
                </svg>
            </a>
        </div>
    </div>
</div>
