<div class="partners">
    <div class="partners-logo">
    {%- for partner in site.data.partners -%}
        <div class="partner-item">
          <a href="{{ partner.link }}">
              {% if partner.logo %}
                {% include {{ partner.logo | append: '.svg.html' }} %}
              {% elsif partner.img %}
                <img src="{{ partner.img }}" alt="{{ partner.name }}"/>
              {% endif %}
          </a>
        </div>
      {%- endfor -%}
    </div>
    <div>
        <a class="btn" href="mailto:{{ site.email }}?subject=Quiero ayudar a la FOPI!">
            Sé nuestro partner
        </a>
    </div>
</div>
