<div class="winners-wrapper">
    <div class="winners-text">
        <h2 class="title">
            Conoce a los ganadores de la Segunda Fase de la Olimpiada Peruana de Informática 2024 🏆
        </h2>
        <p style="font-size: 15px;">
            Estos talentosos competidores han demostrado habilidades increíbles en programación y resolución de problemas, estamos emocionados de ver cómo continúan brillando en futuras competiciones!
            ¡Agradecemos a todos los participantes por su entusiasmo y dedicación 
        </p>
        <strong style="font-size: 17px; margin-bottom: 16px; text-align: center;">
            🎉 ¡Felicidades a todos los participantes por su dedicación y esfuerzo! 🎉
        </strong>
        <p style="margin-bottom: 0px;">
            Informate de todos los detalles de los resultados de la Olimpiada Peruana de Informática 2024 en nuestra
            <a href="historia/2024/01/26/fase-2-results.html">publicación resultados</a>
        </p>
        <img src="/assets/images/winners-phase-2.png" alt="Winners image">
    </div>
    <div class="winners-table">
        <table style="margin-bottom: 0px;">
            <caption style="caption-side:bottom; margin-top: 14px; font-size: 17px">
                Primeros
                <strong>
                    12 ganadores
                </strong>
                del concurso
            </caption>
            <tr>
                <th>Posición</th>
                <th style="width: 260px;">Ganadores</th>
            </tr>
            <tr>
                <td class="position">1</td>
                <td>Angie Alcantara Castillo</td>
            </tr>
            <tr>
                <td class="position">2</td>
                <td>Alejandro David Pineda Miranda</td>
            </tr>
            <tr>
                <td class="position">3</td>
                <td>Rosangel Alexandra Bullon Linares</td>
            </tr>
            <tr>
                <td class="position">3</td>
                <td>Jhojhan Karol Vilcanqui Apaza</td>
            </tr>
            <tr>
                <td class="position">5</td>
                <td>Sergio Daniel Alcantara Miranda</td>
            </tr>
            <tr>
                <td class="position">6</td>
                <td>Angelo D'steffano Farfán Oré</td>
            </tr>
            <tr>
                <td class="position">7</td>
                <td>Daniel Javier Fernandez Cruz</td>
            </tr>
            <tr>
                <td class="position">8</td>
                <td>Michael Francesc Alexis Apaza Cayo</td>
            </tr>
            <tr style="height: 5px;">
                <td class="position">9</td>
                <td>Adriana Celeste Alvarado León</td>
            </tr>
            <tr>
                <td class="position">10</td>
                <td>Angeles Juleysi Ramirez Cabrera</td>
            </tr>
            <tr>
                <td class="position">11</td>
                <td>Camila Ochoa Huamán</td>
            </tr>
            <tr>
                <td class="position">12</td>
                <td>Diana Esmeralda Huacasi Durand</td>
            </tr>
        </table>
    </div>
</div>