.about-page {
  background-color: rgb(248, 249, 255);
  .about-description {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex-direction: row;
    padding: 90px 100px;
    text-align: center;

    small {
      display: flex;
      flex-direction: column;
    }

    .about-description-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: right;
      padding: 0 50px;
      color: $secondary-3;
      font-size: 44px;
      font-weight: 700;

      span {
        color: $primary-1;
      }
    }

    .about-description-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin-right: 100px;
      color: $secondary-4;
      font-size: 17px;
    }
  }

  .about-slack {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 0 100px 50px 100px;
    font-size: 16px;

    .about-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      font-size: 20px;
      font-weight: 500;
      gap: 20px;

      // img {
      //   width: 150px;
      // }
    }

    a {
      border: 2px solid white;
      transition: all 0.4s ease-in-out;
    }

    .about-slack-link {
      // width: 120px;
      padding: 12px 18px;
      border-radius: 22px;
    }

    a:hover {
      text-decoration: none;
      border: 2px solid $secondary-6;
    }
  }

  .about-description-last {
    padding: 80px 100px;
    text-align: center;
    font-size: 20px;
    color: $secondary-4;
    font-weight: 300;
  }

  .about-related-members {
    background-color: white;
    padding: 60px 100px;
  }

  .about-members-list {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 0;

    .about-members-wrapper {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media (max-width: 850px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
      }

    }

  }
}

.about-member {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15PX;
  background-color: white;
  border-radius: 15px;
  text-align: center;

  @media (max-width: 991.98px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .about-member-picture {
    margin: 0 auto;

    @media (max-width: 991.98px) {
      padding: 0;
    }

    img {
      width: 160px;
      border-radius: 50%;
      min-width: 150px;
    }
  }
}

.about-members-title {
  text-align: center;
  padding: 10px 0;
  color: $primary-2;
  font-size: 32px;
  font-weight: 700;
}
.about-members-subtitle {
  color: $primary-1;
  font-weight: 700;
}

.about-collaborator {
  font-size: 24px;
  font-weight: 500;
}

.about-member-description {
  display: flex;
  flex-direction: column;
  flex: 50%;
  gap: 15px;
  justify-content: center;

  @media (max-width: 991.98px) {
    align-items: center;
  }
  
  .about-member-name {
    color: $primary-2;
    font-size: 24px;
    font-weight: 500;
  }

  .about-member-title {
    color: $secondary-4;
    font-size: 16px;
    font-weight: 400;
  }

  .about-member-social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .about-member-text {
    @media (max-width: 991.98px) {
      text-align: center;
    }
  }
}
