.about-page {
  background-color: rgb(248, 249, 255);
  .about-description {
    font-size: 25px;
    padding: 80px 100px;
    // margin: 50px 0;
    text-align: center;

    small {
      display: flex;
      flex-direction: column;
    }

    .about-slack-link {
      margin-top: 50px;
      padding: 0px;

      img {
        height: 25px;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  .about-members-list {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 0;

    .about-members-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }

    }

  }
}

.about-member {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15PX;
  background-color: white;
  // border: 1px solid $secondary-1;
  border-radius: 15px;
  text-align: center;

  @media (max-width: 991.98px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .about-member-picture {
    // padding: 0 40px;
    margin: 0 auto;

    @media (max-width: 991.98px) {
      padding: 0;
    }

    img {
      width: 160px;
      border-radius: 50%;
      min-width: 150px;
    }
  }
}

.about-members-title {
  color: $primary-2;
  font-size: 30px;
  font-weight: 700;
}

.about-collaborator {
  font-size: 20px;
  font-weight: 700;
}

.about-member-description {
  display: flex;
  flex-direction: column;
  flex: 50%;
  gap: 15px;
  justify-content: center;

  @media (max-width: 991.98px) {
    align-items: center;
  }
  
  .about-member-name {
    color: $primary-2;
    font-size: 30px;
    font-weight: 600;
  }

  .about-member-title {
    color: $secondary-4;
    font-size: 22px;
    font-weight: 400;
  }

  .about-member-social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .about-member-text {
    @media (max-width: 991.98px) {
      text-align: center;
    }
  }
}
