.author-card {
  background-color: $secondary-1;
  padding: 18px;
  margin: 80px 0;

  .author-card-wrapper {
    display: flex;
    flex-direction: row;
  }

  .author-avatar {
    padding-right: 18px;

    img {
      height: 100px;
      border-radius: 50%;
    }
  }

  .author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.author-name {
  font-weight: 500;
  color: $secondary-3;
}

.author-company {
  color: $primary-2;
}