.page-with-full-title {
  padding: 0;
}

.full-title {
  min-height: 250px;
  background-color: $secondary-2;
  font-size: 48px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  padding: 0 160px;

  @media (max-width: 991.98px) {
    padding: 0;
  }
}

.post-header {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 15px;
    max-height: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;

    svg {
      height: 24px;
      margin-right: 15px;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }
}
.blog-page {
  .post-excerpt {
    margin-bottom: 15px;
  }

  .post-list {
    display: flex;
    flex-direction: column;

    .post-list-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .blog-post-more {
        align-self: start;
      }
    }
  }
}

.post-list {
  margin-bottom: 100px;
}

article.post {
  margin: 0 50px;

  @media (max-width: 991.98px) {
    margin: 0;
  }
}

.blogpost-ioi2022 {
  border: 1px solid transparent;

  img {
    max-width: 150px;
  }
}
