.calendar-site {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 100px;

    .calendar-wrapper {
        display: flex;
        flex-direction: column;
    }

    .calendar-events {
        padding: 0 14px;
    }

    .event-title {
        display: flex;
        justify-content: space-between;
    }

    .divider {
        border-bottom: 1px solid #afafaf;
        margin: 16px 0;
    }

    .event {
        display: grid;
        grid-template-columns: 100px 2fr;
        gap: 20px;

        .event-img {
            display: flex;
            width: 80px;
            justify-content: center;
            align-items: center;
        }
    }

}