.event-page {
  padding: 0;
}

.event-hero {
  background-color: $secondary-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  word-break: break-all;

  @media (max-width: 1023px) {
    flex-direction: column;
    word-break: normal;
    text-align: center;
  }

  .event-hero-info {
    padding: 100px;
    font-size: 48px;

    @media (max-width: 1023px) {
      padding: 0;
      margin: 2rem 0;
    }
  }

  .event-hero-image {
    width: 500px;
    margin-right: 2rem;

    @media (max-width: 1023px) {
      width: 80%;
      margin: 0 auto 2rem auto;
    }
  }
}

.event-description {
  margin: 120px 0;
  font-size: 32px;
  text-align: center;
}

.event-sponsors {
  background-color: $secondary-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: $secondary-4;

  .event-sponsors-title {
    font-size: 40px;
    margin-bottom: 25px;
    color: $primary-2;
    text-align: center;
  }

  .sponsor-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}

.sponsor-level-title {
  border-top: 1px solid #636363;
  border-bottom: 1px solid #636363;
  margin-bottom: 30px;
  color: $primary-1;
}

.sponsor-item {
  margin: 15px 0;
}

.sponsor-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;

  .sponsor-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sponsor-item-description {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.sponsor-visionaries {
  .sponsor-level-title {
    font-size: 36px;
  }
  .sponsor-item {
    width: 350px;
    font-size: 20px;
  }

  .sponsor-item-logo {
    width: 280px;
  }
}

.sponsor-maintainers {
  .sponsor-level-title {
    font-size: 31px;
  }
  .sponsor-item {
    width: 230px;
    font-size: 18px;
  }

  .sponsor-item-logo {
    width: 200px;
  }
}

.sponsor-contributors {
  .sponsor-level-title {
    font-size: 26px;
  }
  .sponsor-item {
    width: 170px;
    font-size: 16px;
  }

  .sponsor-item-logo {
    width: 150px;
  }
}

.sponsor-supporters {
  .sponsor-level-title {
    font-size: 24px;
  }
  .sponsor-item {
    width: 140px;
    font-size: 14px;
  }

  .sponsor-item-logo {
    width: 120px;
  }
}

.sponsor-friends {
  .sponsor-level-title {
    font-size: 22px;
  }
  .sponsor-item {
    width: 115px;
    font-size: 13px;
  }

  .sponsor-item-logo {
    width: 100px;
  }
}

// IOI 2022

.event-countdown {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  font-size: 48px;
  font-weight: 700;
  gap: 15px;

  @media (max-width: 1023px) {
    padding-top: 2rem;
    justify-content: center;
  }

  .countdown-item {
    display: flex;
    flex-direction: column;
  }

  .countdown-subtext {
    font-size: 24px;
    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
  }
}

.countdown-number {
  @media (max-width: 767.98px) {
    text-align: center;
    font-size: 2rem;
  }
}

.collect-explanation {
  margin-top: 50px;

  .collect-explanation-title {
    font-size: 20px;
    color: $primary-2;
  }
}
