.site-footer {
  background: $secondary-2;
  color: white;
  padding: 1.5rem 5rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  a {
    color: white;
  }

  @media (max-width: 767.98px) {
    padding: 1.5rem 3.5rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  .footer-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-terms {
    align-self: start;
    line-height: 1.2rem;
    
    @media (max-width: 767.98px) {
      margin: 1rem auto;
      text-align: center;
    }
  }
}

.footer-social {
  .footer-logo {
    svg {
      width: 90px;
    }
  }

  .footer-social-links {
    display: flex;
  }

  .footer-social-item {
    width: 35px;

    img {
      width: 20px;
    }
  }

  @media (max-width: 767.98px) {
    margin: 1rem auto;
    text-align: center;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;

  .footer-contact-title {
    font-weight: bolder;
  }

  @media (max-width: 767.98px) {
    width: 100%;
    margin: 1rem 0;
    align-items: center;
  }
}

.footer-pages-links {
  @media (max-width: 767.98px) {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
}