.latest-news {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  .latest-news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;

    .latest-news-all-link {
      font-size: 18px;
      
      a {
        padding-bottom: 5px;
      }
    }
    .latest-news-title {
      color: $primary-1;
      font-size: 40px;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  .latest-news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;

    .latest-news-item {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(254, 254, 254);
      box-shadow:  1px 2px 5px #dbdbdb;
      border-radius: 14px;
      padding: 4rem 1.5rem 1rem 1.5rem;
      max-width: 300px;
      transition: all 0.2s ease-in-out;
      gap: 0.5rem;

      .post-link {
        font-size: 20px;
      }

      .post-meta {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .latest-news-item:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  .post-header {
    height: 280px;
    justify-content: center;

    img {
      margin: auto;
    }
  }
}
