.latest-news {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  .latest-news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;

    .latest-news-title {
      color: $primary-1;
      font-size: 40px;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  .latest-news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;

    .latest-news-item {
      display: flex;
      flex-direction: column;
      max-width: 325px;

      .post-link {
        font-size: 20px;
      }

      .post-meta {
        font-size: 15px;
        margin-top: auto;
      }
    }
  }

  .post-header {
    height: 280px;
    justify-content: end;

    img {
      margin: auto;
    }
  }
}
