$primary-1: #da2828;
$primary-2: #0056AC;
$secondary-1: #ECF2F9;
$secondary-2: #1B253A;
$secondary-3: #282525;
$secondary-4: rgb(56, 71, 90);
$secondary-5: #D7D7D7;

$breakpoint-xs: 0;
$breakpoint-sm: 479.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 1023.98px;
$breakpoint-xl: 1199.98px;
$breakpoint-xxl: 1399.98px;


.btn {
  background-color: $primary-2;
  border: 2px solid $primary-2;
  padding: 20px 50px;
  border-radius: 42px;
  color: white;
  font-size: 20px;

  &:hover {
    background-color: $secondary-1;
    color: $primary-2;
  }
}

a {
  color: $primary-2;

  &:visited {
    color: $primary-2;
  }
}

a.btn {
  color: white;
}

main.page-content {
  padding: 0;

  .wrapper {
    margin-right: 6rem;
    margin-left: 6rem;
    max-width: none;

    @media (max-width: $breakpoint-lg) {
      padding: 0 5rem;
      margin: 0;
    }

    @media (max-width: $breakpoint-md) {
      padding: 0 2.5rem;
      margin: 0;
    }
  }
}
