.promo-ioi2022 {
  background: linear-gradient(0deg, rgba(206, 227, 252, 0.5), rgba(206, 227, 252, 0.5)), url('/assets/images/indonesia.jpeg');
  background-size: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  color: $secondary-3;
  padding: 160px;

  .promo-date {
    color: $primary-1;
    font-weight: 600;
  }

  .promo-subtext {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
  }

  .promo-btn {
    margin-top: 30px;
  }

  .promo-collect {
    display: flex;
    flex-direction: column;
    color: $secondary-3;
    font-size: 20px;

    .amount {
      font-size: 30px;
      font-weight: 600;
    }
  }
}