.promo-egoi2022 {
  background: linear-gradient(0deg, rgba(206, 227, 252, 0.5), rgba(206, 227, 252, 0.5)), url('/assets/images/antalaya.jpeg');
  background-position: center;
  background-size: 100% auto;
  min-height: 500px;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-lg) {
    background-size: auto 100%;
  }

  @media (max-width: $breakpoint-md) {
    min-height: unset;
  }
}

.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  color: $secondary-3;
  padding: 0 160px;
  margin: 3rem 0;

  @media (max-width: $breakpoint-lg) {
    padding: 0 5rem;
  }

  @media (max-width: $breakpoint-md) {
    padding: 0 2rem;
  }

  .promo-date {
    color: $primary-1;
    font-weight: 600;
  }

  .promo-subtext {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
  }

  .promo-btn {
    margin-top: 30px;
    display: flex;
  }

  .promo-collect {
    display: flex;
    flex-direction: column;
    color: $secondary-3;
    font-size: 20px;
  }
}

.egoi2022-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.egoi2022-collect {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.egoi2022-contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
