<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content{% if page.title and page.is_post %} page-with-full-title{% endif %}" aria-label="Content">
      <!-- the idea for this is to be temporal change when needed -->
      {%- include promos/promo-ioi-2022-ask-sponsors.html -%}

      {%- if page.title and page.is_post -%}
        <h1 class="full-title">
          {{ page.title }}
        </h1>
      {%- endif -%}

      <div class="wrapper">
        {%- include sections/description.html -%}
        {%- include latest_news.html limit=3 -%}
      </div>
    </main>

    {%- include sections/partners.html -%}
    {%- include footer.html -%}

  </body>
</html>
