.site-banner {
    padding: 30px 90px;
    background-color: $secondary-1;
    display: flex;
    gap: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;

    .site-title {
        color: red;
        font-size: 40px;
        font-weight: 400;
    }

    .site-subtitle {
        font-size: 23px;
        font-weight: 500;
        margin: 8px 0;
        color: #013e8f;
    }

    .banner-btn {
        margin: 4px 0;
        padding: 12px 18px;
        border: 1px solid $primary-2;
        color: white;
        border-radius: 18px;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        width: fit-content;
        background-color: $primary-2;
        transition: all 0.2s ease-in-out;
    }

    .banner-btn:hover {
        background-color: $secondary-1;
        color: $primary-2;
    }

    .banner-wrapper {
        display: flex;
        flex-direction: column;
    }

    .banner-phase {
        display: flex;
        width: 350px;
        flex-direction: column;
        margin: auto;
        padding: 1.5rem;
        border: 1px solid rgb(242, 242, 242);
        border-radius: 24px;
        box-shadow:  4px 5px 5px #dbdbdb;
        font-weight: 300;
        background-color: white;
    }

    .banner-base {
        display: flex;
        flex-direction: column;
        width: 360px;
        padding: 1.5rem;
        font-size: 18px;
        font-weight: 300;
    }

    .banner-picture {
        width: 745px;

        img {
            border-radius: 24px;
            margin: 4px;
            transition: all 0.3s ease-in-out;
        }

        img:hover {
            transform: scale(1.02);
            box-shadow:  4px 5px 5px #dbdbdb;
        }
    }

    @media screen and (max-width: $breakpoint-xxl) {
        padding: 10px 90px;

        .site-title {
            font-size: 32px;
        }

        .banner-phase {
            min-width: 320px;
        }

        .banner-base {
            min-width: 320px;
            font-size: 16px;
        }

        .banner-picture {
            min-width: 640px;
            text-align: center;

            img {
                width: 300px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-xl) {
        .banner-phase {
            width: 260px;
        }

        .banner-base {
            width: 240px;
            font-size: 14px;
        }

        .banner-picture {
            align-items: center;
            width: fit-content;

            img {
                width: 300px;
            }
        }
        
    }

    @media (max-width: $breakpoint-lg) {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 1rem;

        .site-title {
            font-size: 32px;
        }

        .site-subtitle {
            font-size: 20px;
        }

        .banner-phase {
            width: 450px;
        }

        .banner-base {
            width: 450px;
            font-size: 16px;
        }

        .banner-picture {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));   

            img {
                width: 290px;
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        .banner-phase {
            width: 450px;
            font-size: 16px;
        }

        .banner-base {
            width: 450px;
            font-size: 16px;
        }

        .banner-picture {
            img {
                width: 300px;
            }
        }
    }
}