.site-description {
  color: $secondary-3;
  background-color: $secondary-1;
  padding: 90px 90px;

  .site-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    @media (max-width: 640px) {
      flex-direction: column;
      gap: 2rem;
    }

    .site-stats-description {
      width: 50%;
      font-size: 40px;
      font-weight: 700;
      margin: 0px 60px;
      color: $primary-1;

      @media (max-width: 640px) {
        width: 100%;
        @media (max-width: $breakpoint-sm) {
          text-align: center;
        }
      }
    }

    .site-stats-stats {
      display: flex;
      width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }
}

.stats-item {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .stats-number {
    color: $primary-2;
    font-weight: 700;
    font-size: 25px;
  }
  .stats-name {
    word-break: break-word;
    font-weight: 300;
  }
  @media (max-width: $breakpoint-sm) {
    text-align: center;
  }
}
