.egoi-wrapper {
    display: grid;
    background-color: $secondary-1;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .egoi-content {
        display: flex;
        background-color: white;

        .egoi-image {
            display: flex;
            gap: 1.5rem;
            padding: 2rem;
            margin: auto;

            .egoi-text-image {
                margin: 10px 0;
                font-size: 23px;
                font-weight: 500;
                width: 250px;
                justify-content: center;
            }

            img {
                margin: auto;
                width: 230px;
            }
        }
    }

    .egoi-description {
        background-color: $secondary-1;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: auto;
        padding: 4rem 3rem;

        .egoi-title {
            color: black;
            font-size: 24px;
            font-weight: 600;
        }
    }
}
