.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-1;
  padding: 50px 60px;
  gap: 30px;

  .partners-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    .partner-item {
      padding: 30px;
      width: 210px;
    }
  }
}
